@font-face {
  font-family: "Fira Sans Regular";
  src: url("../fonts/FiraSans-Regular.otf");
}

@font-face {
  font-family: "Fira Sans Heavy";
  src: url("../fonts/FiraSans-Heavy.otf");
}

@font-face {
  font-family: "Fira Sans HeavyItalic";
  src: url("../fonts/FiraSans-HeavyItalic.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans Regular";
}

.global-menubar {
  position: fixed;
  top: 0px;
  width: 100%;
  background: transparent;
}

.global-logo {
  width: 220px;
  height: auto;
  padding: 10px 10px;
  float: left;
}

@media only screen and (max-width: 600px) {
  .global-menubar .global-location {
    display: none;
  }
}

.global-location {
  font-size: 38px;
  float: left;
  padding: 20px 5px;
}

.global-hamburger {
  padding: 22px 20px;
  float: right;
}