.home-blurb {
  font-family: "Fira Sans Heavy";
  position: absolute;
  left: 20px;
  bottom: 120px;
  font-size: 48px;
  text-align: left;
  float: left;
}

.home-blurb-support {
  font-family: "Fira Sans HeavyItalic";
  position: absolute;
  left: 20px;
  bottom: 40px;
  text-align: left;
  float: left;
  font-weight: 800;
  font-size: 26px;
  font-style: italic;
}

.theme-light .home-blurb-highlight {
  background-color: #CB6D51;
}

.theme-dark .home-blurb-highlight {
  background-color: #7289DA;
}

.theme-pink .home-blurb-highlight {
  background-color: #013A1A;
}

.home-blurb-highlight {
  padding: 6px 6px;
}