.home-bg {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;

  z-index: -1;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 45px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-color: rgb(218, 198, 198);
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}