.home-blurb-container {
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%,-50%);
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.home-blurb {
  font-family: "Fira Sans Heavy";
  font-size: 64px;
  font-weight: 900;
  letter-spacing: -0.04em;
  text-align: center;
  background: inherit;
}

.home-blurb-action {
  border: none;
  max-width: 220px;
  letter-spacing: 2px;
  padding-top: 16px;
  border-radius: 500px;
  line-height: 1;
  padding: 16px 48px 18px;
  margin-top: 18px;
  text-transform: uppercase;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

.home-blurb-action:hover {
  cursor: pointer;
}

.theme-light .home-blurb-highlight {
  background-color: #CB6D51;
}

.theme-dark .home-blurb-highlight {
  background-color: #7289DA;
}

.theme-pink .home-blurb-highlight {
  background-color: #013A1A;
}

.home-blurb-highlight {
  padding: 8px 8px;
}